* {
    margin: 0 auto;
    padding: 0;
    border : 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins';
    position: relative;
}

h1 {
    font-family: 'Poppins';
}

a {
    color: #2E7BC1;
    text-decoration: none;
}

.container{
    padding: 100px 155px 100px;
}