.footer {
    background: linear-gradient(268.57deg, #042938 21.6%, #04505A 78.4%);

    color: white;
    height: 80px;
    width: 100%;
    text-align: center;
}

.footerText {
    margin: 0;
    line-height: 80px;
}